body {
    background: linear-gradient(blue, white);
    background-repeat: no-repeat;
}
#weatherAppContain {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

}
#userInput {
    max-width: 6000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
#userInput p {
    font-size: 2rem;
    color: #eee;
}
h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 1px #ddd;
}
input, button {
    font-size: 1.5rem;
    padding: 10px;
}
#weatherCard {
    border: solid 1px #ddd;
    max-width: 600px;
    margin: 150px auto;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
    padding: 5px 10px 50px 10px;
    box-shadow: 2px 2px 5px #000;
    opacity: 0;
}
#cityName, #locationCountry {
    text-align: center;
    font-size: 2.5rem;
    color: #2e2c24;
}
#locationCountry {
    font-size: 1.5rem;
}
#cityData li, #cityData div {
    font-size: 1.5rem;
    line-height: 1.75;
}
#cityData > div {
    padding-left: 40px;
}
#cityData li {
    list-style-type: none;
}
#weatherIconContain {
    position: absolute;
    top: -90px;
    left: 10px;
    width: 115px;
    height: 150px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 230px;
    box-shadow: 1px 1px #ddd;
    padding: 1px 5px 0 1px;
}
#weatherIcon {
    width: 100%;
}
.label {
    color:#ebb33d;
    text-shadow: 1px 1px #eee;
    font-weight: bold;
}
