/* body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    background-color: turquoise;
}

.container{
    align-items: center;
}

#temp{
    height: 40px;
    width: 75px;
    border: none;
}

#feelslike{
    height: 40px;
    width: 75px;
    border: none;
}

.section1{
    display: flex;
}

.group2{
    margin: 200px;
}

.section2{
    display: flex;
} */